
/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* regFORM: ********************************/

#regForm {
  background-color: #ffffff;
  margin: 90px auto;
  font-family: acme;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

#formTitle {
  text-align: center;
}

#regForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd; /* light pink */
}

input:focus {
  background-color: #eff4ff; /* super light blue */
}

/* Hide all Tabs by default: */
.tab {
  display: none;
}

button {
  background-color: #3760a3; /* dark blue */
  color: #ffffff;
  border: none;
  padding: 8.5px 20px;
  font-size: 17px;
  font-family: Palatino, serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.next-buttons {
  color: #ffffff;
  background-color: #000000;
  border:none;
  padding:8px 16px; /* while the button padding is 8.5px 20px; for design */
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
}

#butt-container {
  display: flex;
  justify-content: space-between;
}

/* STEPS */
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #aaa;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50; /* green !!! */
}

#steps {
  text-align:center;
  margin-top:40px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap
}


/* SETTINGS: ********************************/

.setting-container {
  padding-left: 3%;
  border: 1px solid #aaaaaa;
  margin: 17px 0px 17px 0px;
}

.setting-container-divider {
  width: 50%;
  width: calc(50% + 20px);
  display: flex;
  flex-wrap: nowrap;
}

.setting-container input {
  width: 100%;
}

.in-form-words {
  font-style: italic;
  font-weight: bold;
  color: black;
  font-family: Times New Roman, acme, sans-serif;
  white-space: nowrap;
  padding-top: 10px;
}

/* BACKGROUND ********************************/

#color-picker-input {
  margin: 8px;
}

#color-picker-button {
  height: 23px;
  position: relative;
  top: 8px;
  line-height: 7px;
}

.skulls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skulls img {
  width: 50px;
  margin: 1px 10px 1px 10px;
}

#skulls-wrapper {
  margin-bottom: 15px;
}

/* SOUND ********************************/

#sound-preference {
  padding-right: 15px;
  padding-top: 15px;
  width:100%;
}

#sound-preference label {
  float: right;
  top: 2px;
  margin-left: 12px;
}

/* Switch Button for Music ON/OFF - start */
.switch {
  position: relative;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3760a3; /* Blue */
}

input:focus + .slider {
  box-shadow: 0 0 1px #3760a3; /* Blue */
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
/* Switch KEY - end */

#led {
  width: 100%;
}


/* MEDIA QUERY ********************************/

/* ***** settings ***** *//*    ******    *****/
@media screen and (max-width:600px) {
  #settings {
    width: 80%;
    margin: 0% 10% 0% 10%;
  }
}

@media screen and (max-width:460px) {
  #settings {
    width: 84%;
    margin: 0% 8% 0% 8%;
  }
}

@media screen and (max-width:400px) {
  #settings {
    position: relative;
    top: -22px;
    width: 88%;
    margin: 0% 6% 0% 6%;
  }
}

/* ***** sound-preference ***** *//*    *****/
@media screen and (max-width:530px) {
  #sound-preference {
    padding-right: 0px;
  }
  .setting-container-divider {
    width: 70%;
  }
}


