html, 
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: acme;
  src: url("Acme/Acme-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  xxxbackground-image: url("../skulls/skull1.png");
  xxxbackground-size: 40px;
  xxxbackground-repeat: space;    
  background-color: #F3F3E6;
  min-width: 100%;
  min-height: 100%;
  color: black;
  font-family: acme, Palatino, Times, Courier, Sans-serif;

  /* temporary state: */
  background-image: url("../images/under.gif");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.right {
  float: right;
}

